.home1 {
  padding-bottom: 20px;
  font-family: Lato, sans-serif;
  color: #332D45;
  border-bottom: #FFCB4E 1px solid; }

.home1_content {
  display: grid;
  justify-items: center; }

.headerImage {
  width: 100%; }

.home1_text {
  text-align: center; }

h1 {
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  text-align: center; }

@media (min-width: 600px) {
  h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 72px; } }

@media (min-width: 900px) {
  .home1 {
    height: 500px;
    box-sizing: border-box; }
  .home1_content {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: start; }
  .home1_image {
    grid-column: 3 / 7;
    grid-row: 1 / 2; }
  .home1_text {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  h1 {
    text-align: left; } }
