section {
  padding: 25px 0;
  border-bottom: #FFCB4E 1px solid;
  font-family: Lato, sans-serif; }

.wrapper {
  display: flex;
  justify-content: center; }

.content {
  width: 95%;
  max-width: 940px; }

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 25px 0; }

h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 25px 0; }

p {
  margin: 25px 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400; }

ul {
  margin: 25px 0;
  padding: 0;
  text-align: left;
  font-weight: 300;
  list-style-type: none; }

li {
  font-size: 18px;
  line-height: 26px; }

input {
  font-family: Lato, sans-serif; }

.bold {
  font-weight: 700; }

.check_image {
  width: 25px; }

@media (min-width: 600px) {
  section {
    padding: 50px 0; }
  h2 {
    font-size: 28px; }
  p {
    text-align: left;
    margin: 40px 0; } }
